@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/*
  VARIABLES DECLARATION ON ROOT
*/
:root {
    --green: rgb(33, 250, 131);
    --red: rgb(252, 86, 108);
    --dark-font: #2b2b2b;
    --main1: #7D5A50;
    --main2: #B4846C;
    --main3: #E5B299;
    --main4: #FCDEC0;
    --main5: #fff3e6;
    --back: #fcdec08a;
    --grey: rgb(247, 245, 237);
    --grey-dark: rgb(201, 199, 191);
    --blue: #3751ff;
}


/*
    COMMON STYLING
*/
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow: hidden;
    background: var(--grey);
    height: 100vh;
}

.main-container{
    margin: 0;
   min-height: 100vh;
   height: 100%;
   display: grid;
   grid-template-columns: clamp(220px, 25%, 290px) 1fr;
}

h1+h2+h3+h4{
    color: var(--dark-font);
}

li>h3{
    color: var(--main4);
}


.sidebar{
    background-color: var(--dark-font);
    padding: 10px;
    display: flex;
}


#logo{
    width: -webkit-fill-available;
    -webkit-filter: invert(100%);
    height: 120px;
}

#title{
    -webkit-writing-mode: vertical-rl;
    font-size: 70px;
    margin-left: -10px;
    
    /*Color*/
    background-image: linear-gradient(238deg,
    var(--dark-font) 0%,
    var(--main2) 29%,
    var(--main3) 67%,
    white 100%);
    background-size: 200% auto;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.sidebar-content-box{
    margin: 0 10px 0 0;
    width: -webkit-fill-available;
}

[class$="menu"]
{
    margin: 15px 0px;
}

[class$="menu"]>li
{
    display: flex;
    align-items: center;
    padding: 1.1rem 1.1rem 1.1rem 0;
    column-gap: 12px;
}

[class$="menu"]>li>img{
    height: 25px;
    -webkit-filter: invert(100%);
}

.navigation-bar li:hover {
    background: #3e4049;
    color: #dde2ff;
    border-left: 2px solid var(--main4);
    padding-left: calc(1.1rem - 15px);
    cursor: pointer;
}

.bottom-menu{
    bottom: 0;
    position: absolute;
}

.dashboard-container{
    grid-column-start: 2;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: repeat(8, 1fr);
    padding: 0 1.5rem 1.5rem;
    max-height: 100%;
    overflow: scroll;
}

.header {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-row: 1;
    grid-column: 1 / -1;
    padding: 1rem 0;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1.25rem;
    padding-left: 0;
    padding-right: 0;
    display: flex;  
}

.personal-box{
    display: flex;
    align-items: center;
}

.icons>img{
    height: 20px;
    margin: 0px 20px 0px 10px;
}

.icons>img:hover{
    transform: scale(1.01);
}

.icons{ 
    border-right: 3px solid var(--dark-font);
    align-content: center;
    display: flex;
    cursor: pointer;
}

.personal-box>.user-name{
    margin: 0px 20px;
}

.avatar{
    width: 48px;
    height: 48px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 2px solid var(--dark-font);
    cursor: pointer;
}

.state-card-box{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
    margin: 1rem 0;
    height: 10vw;
}

[class$="card"]{
    background-color: white;
    border-radius: 5%;
    border: 1px solid var(--grey-dark);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.info-card:hover{
    border: 2px solid var(--grey);
    cursor: pointer;
}

.info-card:hover > h2{
    font-weight: bold;
}

.info-card>h2{
    align-self: center;
}

.todo-card-box{
    display: grid;
    grid-template-rows: auto auto auto;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2rem 1rem;
    grid-template-rows: auto auto auto;
}

.todo-card{
    padding: 20px;
    gap: 1rem;
}

[class$="card"]:hover{
        transition: 0.5s;
        transform: scale(1.01);
        cursor: pointer;
        border: 2px solid var(--blue);
}

[class$="card"]:hover >:first-child ~ .task-card{
    color: var(--blue);
}

.content-box{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1 / -1;
    gap: 2rem 1rem;
}

.side-content{
    gap: 1rem;
    display: grid;
}

[class^="card"]{
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: #f0f1f7;
    color: #9fa2b4;
    padding: 0.35rem 0.85rem;
    border-radius: 8px;
    font-size: 0.6875rem;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
}

[class^="badge"]{
    background: #f0f1f7;
    color: var(--dark-font);
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
    font-size: 0.6875rem;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
}

[class$="urgent"]{
    background-color: rgb(243, 243, 103);
}

[class$="emergency"]{
    background-color: rgb(245, 111, 111);
}

[class$="fine"]{
    background-color: rgb(140, 245, 140);
}

.task-box{
    border-bottom: 2px solid #dfe0eb;
    width: -webkit-fill-available;
    max-height: 3.5rem;
    padding: 1.15rem 1.75rem;
    display: flex;
    justify-content: space-between;
}

.task-box:last-child{
    border-bottom: 0px solid transparent;
}
/*Check box*/

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
 }

.checkbox {
    position: relative;
 }
 
 input[type="checkbox"] {
    opacity: 0;
    margin-right: 1.125rem;
 }
 
 .checkbox > label {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    border: 1px solid #c5c7cd;
    cursor: pointer;
    background: #fff;
 }
 
 label::after {
    content: "";
    opacity: 0;
    position: absolute;
    top: 25%;
    left: 15%;
    border: 3px solid white;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    width: 12px;
    height: 6px;
 }
 
 input[type="checkbox"]:checked + label {
    background: var(--main3);
    border: none;
 }
 
 input[type="checkbox"]:hover:not(:checked) + label {
    background: var(--main5);
 }
 
 input[type="checkbox"]:hover:checked + label {
    box-shadow: 0 0 8px 0 #a0a0a0a0;
 }
 
 input[type="checkbox"]:checked + label::after {
    opacity: 1;
 }


 .user-box{
    border-bottom: 2px solid #dfe0eb;
    width: -webkit-fill-available;
    max-height: 3.5rem;
    padding: 1.15rem 1.75rem;
    display: flex;
    justify-content: space-between;
 }

 .user-box:last-child{
    border-bottom: transparent;
 }